.cards-continer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(11, 1fr);
    padding: 78px 8px 10px 7px;
    column-gap: 5px;
    row-gap: 10px;
    font-size: 0.5rem;
    background-color: var(--blanco);
}

.cards-img{
    width: 57px;
    height: 126.91px;
}
