.header {
    background-color: var(--rosapalido);
}
.menu{
    background-color: var(--amarillo);
    color: var(--blanco);
    border-radius: 5rem;
    width: 3rem;
    height: 2rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}